----
# Taller 1
----

# Instrucciones

En consonancia con la situación actual, en este ejercicio os propongo que exploréis un dataset asociado al COVID-19.

La enfermedad por coronavirus 2019 (COVID-19) es una enfermedad infecciosa causada por el coronavirus 2 del síndrome respiratorio agudo severo (SARS-CoV-2). Se identificó por primera vez en 2019 en Wuhan, China, y desde entonces se ha propagado a nivel mundial, lo que ha resultado en la pandemia de coronavirus 2019-20. Los síntomas comunes incluyen fiebre, tos y dificultad para respirar. El dolor muscular, la producción de esputo y el dolor de garganta son menos comunes. La tasa de muertes por número de casos diagnosticados es, en promedio, del 3,4%, oscilando entre el 0,2% en los menores de 20 años y aproximadamente el 15% en los mayores de 80 años.

Los datos que vamos a explorar provienenen del dataset disponible en: https://github.com/datadista/datasets/tree/master/COVID%2019 que contiene información sobre la situación diaria acumulada de la enfermedad por el coronavirus SARS-CoV-2 (COVID-19) en España en un formato accesible y reutilizable. 

En nuestro caso vamos a estudiar el fichero [ccaa_covid19_datos_isciii.csv](https://raw.githubusercontent.com/datadista/datasets/master/COVID%2019/ccaa_covid19_datos_isciii.csv), que contiene datos a nivel de casos registrados por Comunidad Autónoma. 

| Campo	        | Descripción	        | Formato  | Ejemplo |
| :-------------|:-------------------------------------------------------------------|----------|:-----------:|
| fecha	        | Fecha de notificación	| YYYY-MM-DD	| 2020-03-20|
| cod_ine	    | Código INE de CCAA	| Texto	   | 11|
| CCAA	        | Comunidad autónoma	| Texto	   | Madrid|
| Caso	        | Casos confirmados acumulados (NaN si no hay casos)	| Número |	7|
| Hospitalizados| Casos acumulados que han precisado hospitalización (incluyen UCI)|	Número	|7|
| UCI	        | Casos acumulados que han precisado ingreso en UCI|	Número|	7|
| Fallecidos	| Personas fallecidas acumuladas	|Número	|7|
| Recuperados	| Personas curadas acumuladas	|Número|7|

# Ejercicios

1. Escribe un programa de Python para mostrar las primeras 5 filas del conjunto de datos COVID-19 (0.25 puntos). Imprime también as 5 ultimas filas del conjunto (0.25 puntos), la información del conjunto de datos (0.25 puntos) y estima cuántos valores ausentes (NaN) hay en cada columna y sustitúyelos por 0's (0.25 puntos).

In [122]:
import pandas as pd

url = 'https://raw.githubusercontent.com/datadista/datasets/master/COVID%2019/ccaa_covid19_datos_isciii.csv'
df = pd.read_csv(url)
df.head()

        Fecha  cod_ine       CCAA  ...  Hospitalizados  UCI  Fallecidos
0  2020-02-20        1  Andalucía  ...             NaN  NaN         NaN
1  2020-02-20        2     Aragón  ...             NaN  NaN         NaN
2  2020-02-20        3   Asturias  ...             NaN  NaN         NaN
3  2020-02-20        4   Baleares  ...             NaN  NaN         NaN
4  2020-02-20        5   Canarias  ...             NaN  NaN         NaN

[5 rows x 9 columns]

In [109]:
df.tail()

           Fecha  cod_ine        CCAA  ...  Hospitalizados    UCI  Fallecidos
1724  2020-05-20       19     Melilla  ...            44.0    3.0         2.0
1725  2020-05-20       14      Murcia  ...           680.0  112.0       149.0
1726  2020-05-20       15     Navarra  ...          2048.0  136.0       506.0
1727  2020-05-20       16  País Vasco  ...          7032.0  578.0      1483.0
1728  2020-05-20       17    La Rioja  ...          1504.0   91.0       354.0

[5 rows x 9 columns]

In [110]:
df.describe()

          cod_ine  Casos  ...          UCI   Fallecidos
count  1729.00000    1.0  ...  1431.000000  1414.000000
mean     10.00000    0.0  ...   399.382250   810.548798
std       5.47881    NaN  ...   753.886484  1622.152452
min       1.00000    0.0  ...     0.000000     0.000000
25%       5.00000    0.0  ...    29.000000    17.000000
50%      10.00000    0.0  ...   118.000000   197.000000
75%      15.00000    0.0  ...   420.500000   773.000000
max      19.00000    0.0  ...  3617.000000  8931.000000

[8 rows x 7 columns]

In [111]:
print('Valores NaN por columna:')
print(df.isna().sum())
df.fillna(0,inplace=True) # Reemplaza los valores NaN por 0

Valores NaN por columna:
Fecha                0
cod_ine              0
CCAA                 0
Casos             1728
PCR+                 0
TestAc+           1036
Hospitalizados     328
UCI                298
Fallecidos         315
dtype: int64

2. Escribe un programa de Python para obtener el número total de casos confirmados, hospitalizados, trasladados a la UCI, fallecidos y recuperados (Si aún existe). Antes asegúrate de cargar de nuevo los datos importan el campo de las fechas como *datetime* y sustituye los valores *NaN* por *0's* (0.25). Convierte los valores numericos a *int* (0.25). Luego crea un nuevo dataframe con la información del último día (0.25) y computa el total acumulando todos los valores de todas las CCAA (0.25).

In [112]:
# parse-dates importa automaticamente las fechas como datetime64
df = pd.read_csv(url,parse_dates=['Fecha']).fillna(0) 
df[['Casos','Hospitalizados','UCI','Fallecidos']].sum()

Casos                   0.0
Hospitalizados    5858867.0
UCI                571516.0
Fallecidos        1146116.0
dtype: float64

In [113]:
df = df.astype(int,errors='ignore')
df

          Fecha  cod_ine        CCAA  ...  Hospitalizados  UCI  Fallecidos
0    2020-02-20        1   Andalucía  ...               0    0           0
1    2020-02-20        2      Aragón  ...               0    0           0
2    2020-02-20        3    Asturias  ...               0    0           0
3    2020-02-20        4    Baleares  ...               0    0           0
4    2020-02-20        5    Canarias  ...               0    0           0
...         ...      ...         ...  ...             ...  ...         ...
1724 2020-05-20       19     Melilla  ...              44    3           2
1725 2020-05-20       14      Murcia  ...             680  112         149
1726 2020-05-20       15     Navarra  ...            2048  136         506
1727 2020-05-20       16  País Vasco  ...            7032  578        1483
1728 2020-05-20       17    La Rioja  ...            1504   91         354

[1729 rows x 9 columns]

In [114]:
df_ultimo_dia = df.iloc[[-1]]
df_ultimo_dia

          Fecha  cod_ine      CCAA  ...  Hospitalizados  UCI  Fallecidos
1728 2020-05-20       17  La Rioja  ...            1504   91         354

[1 rows x 9 columns]

In [115]:
df.groupby(['CCAA']).sum()

                    cod_ine  Casos     PCR+  ...  Hospitalizados     UCI  Fallecidos
CCAA                                         ...
Andalucía                91      0   604059  ...          297285   35354       54237
Aragón                  182      0   252213  ...          121476   13162       33060
Asturias                273      0   120402  ...           53122    6277       11458
Baleares                364      0    96940  ...           51664    8315        8409
C. Valenciana           910      0   531901  ...          272179   36069       57242
Canarias                455      0   115311  ...           46386    8953        6562
Cantabria               546      0   108939  ...           49991    4155        8331
Castilla La Mancha      728      0   791554  ...          436771   32533      113396
Castilla y León         637      0   808285  ...          389478   27191       81088
Cataluña                819      0  2352187  ...         1267248  135069      225775
Ceuta                  1638      0     5212  ...             509     215         193
Extremadura            1001      0   147511  ...           73215    5916       20791
Galicia                1092      0   440226  ...          137403   16382       21913
La Rioja               1547      0   199022  ...           69281    4594       14809
Madrid                 1183      0  3378452  ...         2119014  196181      404108
Melilla                1729      0     5954  ...            2393     174         106
Murcia                 1274      0    80381  ...           32490    5614        6051
Navarra                1365      0   244856  ...          100666    7334       19779
País Vasco             1456      0   648620  ...          338296   28028       58808

[19 rows x 7 columns]

3. Estima ahora la última cifra de casos confirmados, fallecidos y recuperados (Si existe) por CCAA. Para ello, asigna la columna *CCAA* como índice (hazo *inplace*, 0.5 puntos) y muestra los datos ordenados según número de casos, número de fallecidos y número de recuperados (Si existe) (0.5 puntos)

In [116]:
df.set_index(['CCAA'],inplace=True)

In [117]:
#df[['Fecha','Casos','Fallecidos']]
df.groupby(['CCAA']).last().sort_values('Casos')

                        Fecha  cod_ine  Casos  ...  Hospitalizados   UCI  Fallecidos
CCAA                                           ...
Andalucía          2020-05-20        1      0  ...            6210   766        1375
Murcia             2020-05-20       14      0  ...             680   112         149
Melilla            2020-05-20       19      0  ...              44     3           2
Madrid             2020-05-20       13      0  ...           42497  3617        8931
La Rioja           2020-05-20       17      0  ...            1504    91         354
Galicia            2020-05-20       12      0  ...            2943   334         608
Extremadura        2020-05-20       11      0  ...            1780   110         505
Ceuta              2020-05-20       18      0  ...              11     4           4
Navarra            2020-05-20       15      0  ...            2048   136         506
Cataluña           2020-05-20        9      0  ...           29497  2969        6021
Castilla La Mancha 2020-05-20        8      0  ...            9138   639        2919
Cantabria          2020-05-20        6      0  ...            1036    79         209
Canarias           2020-05-20        5      0  ...             944   179         155
C. Valenciana      2020-05-20       10      0  ...            5747   730        1383
Baleares           2020-05-20        4      0  ...            1144   169         221
Asturias           2020-05-20        3      0  ...            1089   121         307
Aragón             2020-05-20        2      0  ...            2442   256         848
Castilla y León    2020-05-20        7      0  ...            8735   561        1960
País Vasco         2020-05-20       16      0  ...            7032   578        1483

[19 rows x 8 columns]

4. ¿Cual es la última cifra de casos confirmados, hospitalizados, trasladados a la UCI, fallecidos y recuperados de COVID-19 en Navarra? (0.5 puntos). ¿Y el número de casos activos (i.e.: Casos - (Fallecidos + Recuperados))? (0.5 puntos).

0       0.0
1       NaN
2       NaN
3       NaN
4       NaN
       ...
1724    NaN
1725    NaN
1726    NaN
1727    NaN
1728    NaN
Name: Casos, Length: 1729, dtype: float64

5. Añade una columna de casos activos al dataframe **original** con los casos activos (*Activos*) en cada momento. Para ello, recuerda  cargar de nuevo el fichero, considerar las fechas como *datetime*, sustituir los *NaN's* por *0's* y convertir los valores numéricos a *int*. Luego puedes añadir la nueva columna *Activos*. (1 punto)

6. Escribe un programa de Python para identificar el día en el que se produjeron los primeros casos por COVID-19 en España (0.5 puntos). ¿Y los primeros fallecimientos (0.5 puntos)?

7. Escribe un programa de Python que devuelva la fecha en que se detectó el primer fallecido de COVID-19 en cada CCAA (0.5 puntos). Muéstralos de forma ordenada en función de la fecha (0.5 puntos)

8. Escribe un código para crear un gráfico de cómo ha evolucionado el total de casos confirmados, hospitalizados, trasladados a la UCI, fallecidos y recuperados a nivel de toda España (0.5 puntos). A continuación crea un gráfico como el anterior en el que se muestre cómo ha evolucionado el total de casos confirmados, hospitalizados, trasladados a la UCI, fallecidos y recuperados en Navarra respecto al total de toda España. Puedes graficar el porcentage que representa Navarra respecto del total de toda España (0.5 puntos).

9. Escribe un programa para visualizar un gráfico de barras con los casos activos de COVID-19 por CCAA en la fecha 5 de Abril de 2020 (0.5 punto). Ordena el gráfico por el número de casos (de CCAA con menor número a mayor número de casos, 0.25 puntos).
Genera un gráfico combinado para el casos confirmados, fallecidos y recuperados en esa misma fecha, ordenándolos por número de casos confirmados.

   (Puedes utilizar las órdenes de la celda siguiente para definir la fecha como tipo *date*)

In [118]:
import time
from datetime import date
fecha = date(2020,3,1)  # para definir el 1 de marzo de 2020
print(fecha)
type(fecha)

2020-03-01

datetime.date

10. Propón una cuestión que querrías resolver sobre este dataset (se puntuará máximo 0.5 puntos en base a la originalidad y dificultad planteada) y escribe el código para resolverla (0.5 puntos)